.grid{
    width:1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid1200{
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin: 15px -5px;
}
.grid__colum0{
    display: none;
}
.grid__colum1{
    padding: 0px 5px;
    width: 8.3334%;
}
.grid__colum2{
    padding: 0px 5px;
    width: 16.6667%;
}
.grid__colum3{
    padding: 0px 5px;
    width: 25%;
}
.grid__colum4{
    padding: 0px 5px;
    width: 33.3334%;
}
.grid__colum5{
    padding: 0px;
    width: 41.6667%;
}
.grid__colum6{
    padding: 0px 5px;
    width: 50%;
}
.grid__colum7{
    padding: 0px 5px;
    width: 58.3334%;
}
.grid__colum8{
    padding: 0px 5px;
    width: 66.6667%;
}
.grid__colum9{
    padding: 0px 5px;
    width: 75%;
}
.grid__colum10{
    padding: 0px 5px;
    width: 83.3334%;
}
.grid__colum11{
    padding: 0px 5px;
    width: 91.6667%;
}
.grid__colum12{
    padding: 0px 5px;
    width: 100%;
}
@media only screen and (max-width: 46.1875em){
    .c__colum0{
        display: none;
    }
    .c__colum1{
        padding: 0px 5px;
        width: 8.3334%;
    }
    .c__colum2{
        padding: 0px 5px;
        width: 16.6667%;
    }
    .c__colum3{
        padding: 0px 5px;
        width: 25%;
    }
    .c__colum4{
        padding: 0px 5px;
        width: 33.3334%;
    }
    .c__colum5{
        padding: 0px;
        width: 41.6667%;
    }
    .c__colum6{
        padding: 0px 5px;
        width: 50%;
    }
    .c__colum7{
        padding: 0px 5px;
        width: 58.3334%;
    }
    .c__colum8{
        padding: 0px 5px;
        width: 66.6667%;
    }
    .c__colum9{
        padding: 0px 5px;
        width: 75%;
    }
    .c__colum10{
        padding: 0px 5px;
        width: 83.3334%;
    }
    .c__colum11{
        padding: 0px 5px;
        width: 91.6667%;
    }
    .c__colum12{
        padding: 0px 5px;
        width: 100%;
    }
}
@media only screen and (min-width: 46.1876em) and (max-width: 63.9375em){
    .m__colum0{
        display: none;
    }
    .m__colum1{
        padding: 0px 5px;
        width: 8.3334%;
    }
    .m__colum2{
        padding: 0px 5px;
        width: 16.6667%;
    }
    .m__colum3{
        padding: 0px 5px;
        width: 25%;
    }
    .m__colum4{
        padding: 0px 5px;
        width: 33.3334%;
    }
    .m__colum5{
        padding: 0px;
        width: 41.6667%;
    }
    .m__colum6{
        padding: 0px 5px;
        width: 50%;
    }
    .m__colum7{
        padding: 0px 5px;
        width: 58.3334%;
    }
    .m__colum8{
        padding: 0px 5px;
        width: 66.6667%;
    }
    .m__colum9{
        padding: 0px 5px;
        width: 75%;
    }
    .m__colum10{
        padding: 0px 5px;
        width: 83.3334%;
    }
    .m__colum11{
        padding: 0px 5px;
        width: 91.6667%;
    }
    .m__colum12{
        padding: 0px 5px;
        width: 100%;
    }
}