.Footer{
    background-color: var(--my-color);
    padding: 25.92px 60.48px;
    height: 330px;
}
.Footer-end{
    display: grid;
    grid-template-columns: 15% 30% 30% 25%;
    margin-top: 20px;
    border-top: 2px solid white;
}
.Footer-end_item p{
    color: #e0e0e0;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 10.368px;
    width: 50%;
}
.Footer-end_item_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Item-icon i{
    background-color: #bebebe;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 100vh;
    transition: all linear .1s;
}
.Item-icon i:hover{
    background-color: red;
    color: #ffffff;
}