.Irera{
    background-color: var(--my-color);
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
.Irera img{
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 90%;
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.Irera-p{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.Irera-p h2{
    width: 400px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 34.56px;
    font-weight: 300;
    line-height: 43.2px;
    margin: 0px 0px 50px 0px;
    -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@media only screen and (max-width : 46.1875em){
    .Irera-p{
        position: absolute;
        left: 30px;
        bottom: 20px;
    }
    .Irera img{
        top: -70px;
    }
    .Irera-p h2{
        margin-left: 20px;
        width: 70%;
    }
}